@import url(https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@200;400&family=Open+Sans&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap);

<style>

*{
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #0D0D0D;
    font-family: 'Open Sans', sans-serif;
}
a:hover {
    color: #8C7968;
}
body {
    text-align: left;
    margin: 0 0 0 0;
    background-color: whitesmoke;
}
.wrapper {
    margin: 0 auto;
}
header {
    height: 100px;
    top: 0px;
    background-color: #733E39;
    width: 100%;
    z-index: 12;
    position: fixed;
}
.logo {
    margin-left: 6%;
    float: left;
    line-height: 100px;
}
.logo a {
    font-size: 30px;
    font-family: "Grenze Gotisch", "Kumbh Sans";
    font-weight: 400;
    color: white;
}
nav {
    float: right;
    line-height: 100px;
    padding-right: 10%;
}
nav a {
    font-family: "Grenze Gotisch", "Kumbh Sans";
    font-size: 22px;
    color: white;
}
.quote-gold {
    color: #8C7968;
    font-family: 'Open Sans', sans-serif;
    font-size: 20pt;
    letter-spacing: -1pt;
    margin-top: 30pt;
}
.padding-right {
padding-right: 50px;
}

li {
    font-family: 'Open Sans', sans-serif;
    color:#0D0D0D;
    line-height: 7mm;
    font-size: 12pt;
}
li::marker {
    color: #8C7968
  }
  .border-button {
    margin: 1em;
    color: #8C7968;
    text-align: center;
    border-color: #8C7968;
    border-width: 1.5px;
    border-style: solid;
    padding: 8px 25px 8px 25px;
    border-radius: 8px;
    font-family: 'Open Sans', sans-serif;
}
.content-box {
    margin-left: 6%;
}
.content-box h1 {
    font-family: "Grenze Gotisch", "Kumbh Sans";
    color: #733E39;
    font-size: 28pt;
    padding-top: 100px;
}
h3 {
    font-family: 'Open Sans', sans-serif;
    color:#262626;
    padding-bottom: -2mm;
}
p {
    font-family: 'Open Sans', sans-serif;
    color:#262626
}

.smaller-image {
    width: 500px;
}

.maroon-border {
    color: #8C7968;
    text-align: center;
    border-color:  #733E39;
    border-width: 1.5px;
    border-style: solid;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
}
.flex-parent {
        display: flex;
        flex-direction: row;
        justify-content: left;
    }


</style>