<link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap" rel="stylesheet" type="text/css">
<style>
.aqua-text {
    color: #6DFFE7;
}
.sky-text {
    color: #55BEC0;
}

h1 {
    font-family: "Permanent Marker", monospace;
    color:#6DFFE7; 
}

h3 {
    font-family: "Permanent Marker", monospace;
    color: #55BEC0;
}

p {
    font-family: 'Kumbh Sans', sans-serif;
    color: white;
}

body {
    background-color: #12182B;
}

.larger-image {
    width: 1366px;
}

.smaller-image {
    width: 200px;
}

.navy-background {
    background-color: #394F6B;
}
</style>