@import url(https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@200;400&family=Open+Sans&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap);

<style>

*{
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
body{
    text-align: left;
    margin: 0 0 0 0;
}
.wrapper {
    width: 1170px;
    margin: 0 auto;
}
header {
    height: 100px;
    top: 0px;
    background-color: #733E39;
    width: 100%;
    z-index: 12;
    position: fixed;
}
.logo {
    width: 16%;
    float: left;
    line-height: 100px;
}
.logo a {
    text-decoration: none;
    font-size: 30px;
    font-family: "Grenze Gotisch", "Kumbh Sans";
    font-weight: 400;
    color: white;
}
nav {
    float: right;
    line-height: 100px;
}
nav a {
    text-decoration: none;
    font-family: "Grenze Gotisch", "Kumbh Sans";
    font-size: 22px;
    margin: 0 15px;
    color: white;
}

.white-text {
    color: white;
}
.content-box {
    padding-top: 60px;
    margin-left: 6%;
    margin-right: 10%;
}
.content-box h1 {
    font-family: "Grenze Gotisch", "Kumbh Sans";
    color: #733E39;
    font-size: 28pt;
    padding-top: 100px;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    color:#262626
    padding-bottom: -2mm;
}

p {
    font-family: 'Open Sans', sans-serif;
    color:#262626
}
.quote-gold {
    color: #8C7968;
    font-family: 'Open Sans', sans-serif;
    font-size: 16pt;
}

li {
    font-family: 'Open Sans', sans-serif;
    color:#0D0D0D;
    line-height: 7mm;
    font-size: 12pt;
}
li::marker {
    color: #8C7968
  }

body {
    background-color: whitesmoke;
}

a {
    color: #0D0D0D;
    font-family: 'Open Sans', sans-serif;
}

a:hover {
    color: #8C7968;
}


.smaller-image {
    width: 500px;
}

.larger-image {
    width: 50%;
}

.float-image {
    img {
        float: right;
        margin: 1em;
        width: 50%;
}
}
.button-area {
    width: 10%;
    margin-left: 6%;
    padding-top: 35px;
    color:#8C7968;
    text-align: center;
}

.thin-gold-border {
    border-color: #8C7968;
    border-width: 1.5px;
    border-style: solid;
    padding: 10px;
    border-radius: 8px;
}


.flex-parent {
        display: flex;
        flex-direction: row;
        justify-content: left;
    }


</style>