@import url(https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap);

<style> 

.aqua-text { 
    color: #6DFFE7; }

.sky-text {
    color: #55BEC0;
}
.white-text {
    color: white;
}

h1 {
    font-family: "Permanent Marker", Helvetica, sans-serif;
    color:  #12182B;
}

h3 {
    font-family: "Permanent Marker", Helvetica, sans-serif;
    color:  #12182B;
}

p {
    font-family: 'Kumbh Sans', sans-serif;
    color:black;
}

li {
    font-family: 'Kumbh Sans', sans-serif;
    color: black;
}

body {
    background-color: whitesmoke
}

a {
    color: black;
}

a:hover {
    color:  #55BEC0;
}

div {
    padding: 20px;
    margin: 20px;

}


</style>