@import url(https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap);

<style>
.aqua-text { 
    color: #6DFFE7; }

.sky-text {
    color: #55BEC0;
}
.white-text {
    color: white;
}

h1 {
    font-family: "Permanent Marker", Arial, Helvetica, sans-serif;
    color:#6DFFE7; 
}

h3 {
    font-family: "Permanent Marker", Arial, Helvetica, sans-serif;
    color: #55BEC0;
}

p {
    font-family: 'Kumbh Sans', sans-serif;
    color: white;
}

li {
    font-family: 'Kumbh Sans', sans-serif;
    color: white;
}

body {
    background-color: #12182B;
}


.smaller-image {
    height: 500px;
    border-radius: 500px;
}

.navy-box {
    background-color: #394F6B;
    padding: 10%;
    margin: 5%;
}
</style>